.longLet {
	margin-top: 70px;
}

.searchForm label {
	display: inline-block;
	width: 4em;
	text-align: left;
}

.property {
	margin: 20px;
}

/*.summary {
	font-size: 120%;
	margin-top: 10px;
	margin-bottom: 10px;
  white-space: pre-wrap;
}*/

.pre {
  white-space: pre-wrap;
}

.image {
	margin: 5px;
}