.longLet {
	margin-top: 70px;
}

.searchForm label {
	display: inline-block;
	width: 4em;
	text-align: left;
}

.property {
	margin: 20px;
}

/*.images {
	background-color: yellow;
	height: 300px;
}*/