<template name='addProperty'>
	<div class='well'>
		<h1>Add Property</h1>
	</div>

	<form class='addProperty form-horizontal'>
		<!-- LOCATION -->
		<div class='well'>
			<h2>Where is the property?</h2>
			<div class='form-group'>
				<label for='island' class='col-sm-2'>Island</label>
				<div class='col-sm-10'>
	        <input 	class="form-control typeahead" id="island"
	        				name="island" type="text"
	        				autocomplete="off" spellcheck="off"
	                data-source="islands"/>
				</div>
			</div>
			
			<div class='form-group'>
				<label for='city' class='col-sm-2'>City</label>
				<div class='col-sm-10'>
	        <input 	class="form-control typeahead" id="city" name="city" type="text"
	                autocomplete="off" spellcheck="off"
	                data-source="cities"/>
				</div>
			</div>

			<h2>Postal address</h2>
			<div class='form-group'>
				<label for='street' class='col-sm-2'>Adress</label>
				<div class='col-sm-10'>
					<textarea class='form-control' id='propertyAddress' rows='5' name='adress'></textarea>
				</div>
			</div>

			<div class='form-group'>
				<label for='floor' class='col-sm-2'>Which floor?</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control floor' min='0'>
				</div>
			</div>

			<h2>Pin point on map</h2>
		</div>	<!-- Location well -->

		<!-- AREA -->
		<div class='well'>
			<h2>Describe the area</h2>

			<div class='form-group'>
				<label for='areaType' class='col-sm-2'>Location</label>
				<div class='col-sm-10'>
					<label class='radio-inline'>
					  <input type='radio' value='City' name='locationType'>City
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Village' name='locationType'>Village
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Rural' name='locationType'>Rural
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Seaside' name='locationType'>Sea
					</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='closestMini' class='col-sm-2'>Closest mini market</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control closestMini' placeholder='Meters'>
				</div>
			</div>

			<div class='form-group'>
				<label for='closestMini' class='col-sm-2'>Closest super market</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control closestSuper' placeholder='Meters'>
				</div>
			</div>

			<div class='form-group'>
				<label for='carRecomended' class='col-sm-2'>Car</label>
				<div class='col-sm-10'>
					<label class='radio-inline'>
					  <input type='radio' value='No car necessary' name='car'>Not necessary
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Car recomended' name='car'>Recomended
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Car necessary' name='car'>Necessary
					</label>
				</div>
			</div>

			<!--  Sea and beach -->
			<div class='form-group'>
				<label for='distanceToSea' class='col-sm-2'>Distance to sea</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control distanceToSea' placeholder='meters'/>
				</div>
			</div>

			<div class='form-group'>
				<label for='distanceToBeach' class='col-sm-2'>Distance to beach</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control distanceToBeach' placeholder='meters'/>
				</div>
			</div>

			<div class='form-group'>
				<label for='beachType' class='col-sm-2'>Type of beach</label>
				<div class='col-sm-10'>			
					<label class='radio-inline'>
					  <input type='radio' value='No beach' name='beachType'>No beach
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Sand beach' name='beachType'>Sand beach
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Rock beach' name='beachType'>Rock beach
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Pebble beach' name='beachType'>Pebble beach
					</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='noise' class='col-sm-2'>Noise</label>
				<div class='col-sm-10'>
					<label class='radio-inline'>
					  <input type='radio' value='Quiet' name='noise'>Quiet
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Some disturbances' name='noise'>Some disturbances
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Lively' name='noise'>Lively
					</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='description' class='col-sm-2'>In your own words</label>
				<div class='col-sm-10'>
					<textarea class='form-control areaDescription' rows='5' name='areaDescription'></textarea>
				</div> 
			</div>
		</div>  <!-- Area well -->

		<!-- PROPERTY DESCRIPTION -->
		<div class='well'>
			<h2>Describe the Property</h2>

			<div class='form-group'>
				<label for='propertyType' class='col-sm-2'>Property type</label>
				<div class='col-sm-10'>
					<label class='radio-inline'><input type='radio' value='Apartment' name='propertyType'>Apartment</label>
					<label class='radio-inline'><input type='radio' value='Bungalow' name='propertyType'>Bungalow</label>
					<label class='radio-inline'><input type='radio' value='Town house' name='propertyType'>Town house</label>
					<label class='radio-inline'><input type='radio' value='Villa' name='propertyType'>Villa</label>
					<label class='radio-inline'><input type='radio' value='Finca' name='propertyType'>Finca</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='isStudio' class='col-sm-2'>Studio</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='isStudio'>
				</div>
			</div>

			<div class='form-group'>
				<label for='numBedRooms' class='col-sm-2'>Bed rooms</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control numBedRooms' min='0'>
				</div>
			</div>
			
			<div class='form-group'>
				<label for='numBathRooms' class='col-sm-2'>Bath rooms</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control numBathRooms' min='0'>
				</div>
			</div>

			<div class='form-group'>
				<label for='externalSpace' class='col-sm-2'>Exterior</label>
				<div class='col-sm-10'>
					<label class='radio-inline'><input type='radio' value='No external space' name='externalSpace'>No external space</label>
					<label class='radio-inline'><input type='radio' value='Garden' name='externalSpace'>Garden</label>
					<label class='radio-inline'><input type='radio' value='Veranda' name='externalSpace'>Veranda</label>
					<label class='radio-inline'><input type='radio' value='Balcony' name='externalSpace'>Balcony</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='pool' class='col-sm-2'>Pool</label>
				<div class='col-sm-10'>
					<label class='radio-inline'>
					  <input type='radio' value='No pool' name='pool'>No Pool
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Shared pool' name='pool'>Shared Pool
					</label>
					<label class='radio-inline'>
					  <input type='radio' value='Private pool' name='pool'>Private Pool
					</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='description' class='col-sm-2'>Property description</label>
				<div class='col-sm-10'>
					<textarea class='form-control description aptDescription' rows='5' name='aptDescription'></textarea>
				</div> 
			</div>
		</div>  <!-- Prop description well -->

		<!-- EQUIPMENT -->
		<div class='well'>
			<h2>Equipment</h2>

			<div class='row'>
				<div class='col-sm-4'>
					<ul class='list-unstyled'>
						<li><label><input type='checkbox' class='hasAC'> Air conditioning</label></li>
						<li><label><input type='checkbox' class='hasCeilingFan'> Ceiling fan</label></li>
						<li><label><input type='checkbox' class='hasTV'> TV</label></li>
						<li><label><input type='checkbox' class='hasDvd'> DVD</label></li>
					</ul>
				</div>
				<div class='col-sm-4'>
					<ul class='list-unstyled'>
						<li><label><input type='checkbox' class='hasCoffeeMaker'> Coffee maker</label></li>
						<li><label><input type='checkbox' class='hasKettle'> Kettle</label></li>
						<li><label><input type='checkbox' class='hasFridge'> Fridge</label></li>
						<li><label><input type='checkbox' class='hasFreezer'> Freezer</label></li>
						<li><label><input type='checkbox' class='hasWashMachine'> Washing machine</label></li>
					</ul>
				</div>
				<div class='col-sm-4'>
					<ul class='list-unstyled'> 
						<li><label><input type='checkbox' class='hasDishWasher'> Dish washer</label></li>
						<li><label><input type='checkbox' class='hasOven'> Oven</label></li>
						<li><label><input type='checkbox' class='hasMicro'> Microwave</label></li>
						<li><label><input type='checkbox' class='hasHob'> Hob</label></li>
					</ul>
				</div>
			</div>

			<div class='form-group'>
				<label for='equipmentComment' class='col-sm-2'>Comment</label>
				<div class='col-sm-10'>
					<textarea class='form-control equipmentComment' rows='5' name='areaDescription'></textarea>
				</div>
			</div>
		</div> <!-- Equipment well -->

		<!-- INTERNET -->
		<div class='well'>
			<h2>Communication</h2>

			<div class='form-group'>
				<label class='col-sm-2'>Satelite or cable</label>
				<div class='col-sm-2'>
					<input type='checkbox' class='hasSatCable'>
				</div>
			</div>

			<div class='form-group'>
				<label class='col-sm-2'>Internet</label>
				<div class='col-sm-10'>
					<label class='radio-inline'><input type='radio' value='No Internet' name='internet'>No internet</label>
					<label class='radio-inline'><input type='radio' value='DSL' name='internet'>DSL</label>
					<label class='radio-inline'><input type='radio' value='Fibre' name='internet'>Fibre</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='internetComment' class='col-sm-2'>Comment</label>
				<div class='col-sm-10'>
					<textarea class='form-control internetComment' rows='5' name='areaDescription'></textarea>
				</div>
			</div>
		</div> 
		<!-- Internet well -->

		<!-- PHOTOS -->
		<div class='well'>
			<h2>Photos</h2>
			<h3>Of the surroundings</h3>
			<bold>(at least one)</bold>

			<h3>Exterior</h3>
			<bold>(at least one)</bold>

			<h3>Interior</h3>
			<bold>(at least one per room)</bold>
		</div> <!-- Photos well -->

		<!-- PETS -->
		<div class='well'>
			<h2>Pets</h2>
			<div class='form-group'>
				<label for='pets' class='col-sm-2'>Pets considered</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='petsConsidered'>
				</div>
			</div>
			<div class='form-group'>
				<label for='petsComment' class='col-sm-2'>Comment</label>
				<div class='col-sm-10'>
					<textarea class='form-control petComment' rows='5' name='petComment'></textarea>
				</div>
			</div>
		</div>  <!-- Pets well -->

		<!-- SUITABILITY -->
		<div class='well'>
			<h2>Suitability</h2>

 			<div class='form-group'>
				<label for='motion' class='col-sm-2'>Motion handicapped</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='motionCheck'>
				</div>
			</div>

			<div class='form-group'>
				<label for='motion' class='col-sm-2'>Elderly</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='elderlyCheck'>
				</div>
			</div>

			<div class='form-group'>
				<label for='motion' class='col-sm-2'>Children</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='childrenCheck'>
				</div>
			</div> 
		</div> <!-- Suitability well --> 

		<!-- PRICE -->
		<div class='well'>
			<h2>Price</h2>
			<div class='form-group'>
				<label for='pricePerMonth' class='col-sm-2'>Price per month</label>
				<div class='col-sm-10'>
					<input type='number' class='pricePerMonth' placeholder='Euros'>
				</div>
			</div>

			<div class='form-group'>
				<label for='aditionalWeek' class='col-sm-2'>Aditional week</label>
				<div class='col-sm-10'>
					<input type='number' class='aditionalWeekPrice' placeholder='Euros'>
				</div>
			</div>

			<div class='form-group'>
				<label for='aditionalDay' class='col-sm-2'>Aditional day</label>
				<div class='col-sm-10'>
					<input type='number' class='aditionalDayPrice' placeholder='Euros'>
				</div>
			</div>

			<div class='form-group'>
				<label for='minimumStay' class='col-sm-2'>Minimum stay</label>
				<div class='col-sm-10'>
					<input type='number' class='minimumStay' min='1' placeholder='months'>
				</div>
			</div>

			<div class='form-group'>
				<label for='waterIncluded' class='col-sm-2'>Water included</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='waterIncluded'>
				</div>
			</div>

			<div class='form-group'>
				<label for='electricityIncluded' class='col-sm-2'>Electricity included</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='electricityIncluded'>
				</div>
			</div>

			<div class='form-group'>
				<label for='discounts' class='col-sm-2'>Discounts</label>
				<div class='col-sm-10'>			
					<textarea class='form-control discounts' rows='5' name='discounts'></textarea>
				</div>
			</div>

			<div class='form-group'>
				<label for='priceComment' class='col-sm-2'>Comment</label>
				<div class='col-sm-10'>			
					<textarea class='form-control priceComment' rows='5' name='priceComment'></textarea>
				</div>
			</div>

		</div>  <!-- Price well -->

		<div class='col-sm-offset-2 col-sm-2'>
			<div>
				<input type='button' class='btnCancel btn btn-danger' value='Cancel'>
				<span>
					<input type='button' class='btnAddProperty btn btn-primary' value='Save'>
				</span>
			</div>
		</div>
	</form>
</template>