<template name='addProperty'>
	<div class='well'>
		<h1>Add Property</h1>
	</div>

	<form class='addProperty form-horizontal'>
		<div class='well'>
			<h2>Where is the property?</h2>
			<div class='form-group'>
				<label for='island' class='col-sm-2'>Island</label>
				<div class='col-sm-10'>
	        <input 	class="form-control typeahead" id="island"
	        				name="island" type="text"
	        				autocomplete="off" spellcheck="off"
	                data-source="islands"/>
				</div>
			</div>
			
			<div class='form-group'>
				<label for='city' class='col-sm-2'>City</label>
				<div class='col-sm-10'>
	        <input 	class="form-control typeahead" id="city" name="city" type="text"
	                autocomplete="off" spellcheck="off"
	                data-source="cities"/>
				</div>
			</div>
		</div>

		<div class='well'>
			<h2>Postal address</h2>
			<div class='form-group'>
				<label for='street' class='col-sm-2'>Adress</label>
				<div class='col-sm-10'>
					<textarea class='form-control adress' rows='5' name='adress'></textarea>
				</div>
			</div>
		</div>

		<div class='well'>
			<h2>Pin point on map</h2>
		</div>

		<div class='well'>
			<h2>Describe the area</h2>

			<div class='form-group'>
				<label for='noise' class='col-sm-2'>Noise</label>
				<div class='col-sm-10'>
					<label class='radio-inline'>
					  <input type='radio' class='quietOption'>Quiet
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='someDisturbancesOption'>Some disturbances
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='livelyOption'>Lively
					</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='areaType' class='col-sm-2'>Area type</label>
				<div class='col-sm-10'>
					<label class='radio-inline'>
					  <input type='radio' class='cityLocation'>City
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='villageLocation'>Village
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='ruralLocation'>Rural
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='seaLocation'>Sea
					</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='closestMini' class='col-sm-2'>Closest mini market</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control closestMini' placeholder='Meters'>
				</div>
			</div>

			<div class='form-group'>
				<label for='closestMini' class='col-sm-2'>Closest super market</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control closestSuper' placeholder='Meters'>
				</div>
			</div>

			<div class='form-group'>
				<label for='carRecomended' class='col-sm-2'>Car necessary</label>
				<div class='col-sm-10'>
					<label class='radio-inline'>
					  <input type='radio' class='noCarNecessaryOption'>Not necessary
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='carRecomendedOption'>Recomended
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='carNecessaryOption'>Necessary
					</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='distanceToSea' class='col-sm-2'>Distance to sea</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control distanceToSea' placeholder='meters'/>
				</div>
			</div>

			<div class='form-group'>
				<label for='distanceToBeach' class='col-sm-2'>Distance to beach</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control distanceToBeach' placeholder='meters'/>
				</div>
			</div>


			<div class='form-group'>
				<label for='beachType' class='col-sm-2'>Type of beach</label>
				<div class='col-sm-10'>			
					<label class='radio-inline'>
					  <input type='radio' class='noBeachOption' checked>No beach
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='sandBeachOption'>Sand beach
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='rockBeachOption'>Rock beach
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='pebbleBeachOption'>Pebble beach
					</label>
				</div>
			</div>


			<div class='form-group'>
				<label for='description' class='col-sm-2'>In your own words</label>
				<div class='col-sm-10'>
					<textarea class='form-control areaDescription' rows='5' name='areaDescription'></textarea>
				</div> 
			</div>
		</div>  <!-- well -->

		<div class='well'>
			<h2>Describe the Property</h2>

			<div class='form-group'>
				<label for='propertyType' class='col-sm-2'>Property type</label>
				<div class='col-sm-10'>
					<label class='radio-inline'><input type='radio' class='apartmentOption'>Apartment</label>
					<label class='radio-inline'><input type='radio' class='bungalowOption'>Bungalow</label>
					<label class='radio-inline'><input type='radio' class='townHouseOption'>Town house</label>
					<label class='radio-inline'><input type='radio' class='villaOption'>Villa</label>
					<label class='radio-inline'><input type='radio' class='fincaOption'>Finca</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='floor' class='col-sm-2'>Which floor?</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control floor' min='0'>
				</div>
			</div>

			<div class='form-group'>
				<label for='floor' class='col-sm-2'>Exterior</label>
				<div class='col-sm-10'>
					<label class='radio-inline'><input type='radio' class='hasGarden'>Garden</label>
					<label class='radio-inline'><input type='radio' class='hasVeranda'>Veranda</label>
					<label class='radio-inline'><input type='radio' class='hasBalcony'>Balcony</label>
				</div>
			</div>

			<div class='form-group'>
				<label for='numBedRooms' class='col-sm-2'>Bed rooms</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control numBedRooms' min='0'>
				</div>
			</div>
			
			<div class='form-group'>
				<label for='numBathRooms' class='col-sm-2'>Bath rooms</label>
				<div class='col-sm-10'>
					<input type='number' class='form-control numBathRooms' min='0'>
				</div>
			</div>

			<div class='form-group'>
				<label for='description' class='col-sm-2'>Property description</label>
				<div class='col-sm-10'>
					<textarea class='form-control description aptDescription' rows='5' name='aptDescription'></textarea>
				</div> 
			</div>

			<div class='form-group'>
				<label for='pool' class='col-sm-2'>Pool</label>
				<div class='col-sm-10'>
					<label class='radio-inline'>
					  <input type='radio' class='noPoolOption'>No Pool
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='sharedPoolOption'>Shared Pool
					</label>
					<label class='radio-inline'>
					  <input type='radio' class='privatePoolOption'>Private Pool
					</label>
				</div>
			</div>
		</div>  <!-- well -->

		<div class='well'>
			<h2>Equipment</h2>

			<div class='row'>
				<div class='col-sm-4'>
					<ul class='list-unstyled'>
						<li><label><input type='checkbox' class='hasAC'> Air conditioning</label></li>
						<li><label><input type='checkbox' class='hasCeilingFan'> Ceiling fan</label></li>
						<li><label><input type='checkbox' class='hasTV'> TV</label></li>
						<li><label><input type='checkbox' class='hasDvd'> DVD</label></li>
					</ul>
				</div>
				<div class='col-sm-4'>
					<ul class='list-unstyled'>
						<li><label><input type='checkbox' class='hasCoffeeMaker'> Coffee maker</label></li>
						<li><label><input type='checkbox' class='hasFridge'> Fridge</label></li>
						<li><label><input type='checkbox' class='hasFreezer'> Freezer</label></li>
						<li><label><input type='checkbox' class='hasWashMachine'> Washing machine</label></li>
					</ul>
				</div>
				<div class='col-sm-4'>
					<ul class='list-unstyled'> 
						<li><label><input type='checkbox' class='hasDishWasher'> Dish washer</label></li>
						<li><label><input type='checkbox' class='hasOven'> Oven</label></li>
						<li><label><input type='checkbox' class='hasMicro'> Microwave</label></li>
						<li><label><input type='checkbox' class='hasHob'> Hob</label></li>
					</ul>
				</div>
			</div>
		</div>


		<div class='well'>
			<h1>Internet and communication</h1>

			<ul class='list-unstyled'>
				<li><label><input type='checkbox' class='hasSatCable'> Satelite or cable</label></li>
				<li><label><input type='checkbox' class='hasDsl'> DSL</label></li>
				<li><label><input type='checkbox' class='hasFibre'> Fibre connection</label></li>
			</ul>
		</div>

		<div class='well'>
			<h1>Photos</h1>
			<h2>Of the surroundings</h2>
			<bold>(at least one)</bold>

			<h2>Exterior</h2>
			<bold>(at least one)</bold>

			<h2>Interior</h2>
			<bold>(at least one per room)</bold>
		</div>

		<div class='well'>
			<h1>Pets</h1>
			<div class='form-group'>
				<label for='pets' class='col-sm-2'>Pets considered</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='petsConsidered'>
				</div>
			</div>
			<div class='form-group'>
				<label for='petsComment' class='col-sm-2'>Comment</label>
				<div class='col-sm-10'>
					<textarea class='form-control petComment' rows='5' name='petComment'></textarea>
				</div>
			</div>
		</div>  <!-- well -->

		<div class='well'>
			<h1>Suitability</h1>

 			<div class='form-group'>
				<label for='motion' class='col-sm-2'>Motion handicapped</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='motionCheck'>
				</div>
			</div>

			<div class='form-group'>
				<label for='motion' class='col-sm-2'>Elderly</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='elderlyCheck'>
				</div>
			</div>

			<div class='form-group'>
				<label for='motion' class='col-sm-2'>Children</label>
				<div class='col-sm-10'>
					<input type='checkbox' class='childrenCheck'>
				</div>
			</div> 

		</div> <!-- well -->

		<div class='col-sm-offset-2 col-sm-2'>
			<div>
				<input type='button' class='btnCancel btn btn-danger' value='Cancel'>
				<span>
					<input type='button' class='btnAddProperty btn btn-primary' value='Save'>
				</span>
			</div>
		</div>
	</form>
</template>