<template name='myPropertiesList'>
	<table class='table'>
		<tbody>
			{{#each myProperties}}
				<tr>
					<td>{{island}}</td>
					<td>{{city}}</td>
					<td><a href='/editProperty/{{_id}}' class='btn btn-primary'>Edit</a></td>
					<td>
						{{#if newRequest}}
							New Request!
						{{/if}}
					</td>
					<td>
						{{#if contact}}
							<a href='/contactRequests/{{_id}}' class='btn btn-info'>Requests</a>
						{{/if}}
					</td>
					<td>
						<a href='/createBooking/{{_id}}' class='btn btn-success'>Create booking</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>