<template name='property'>
	<div class='well'>
		{{#if isStudio}}
			<h2>Studio apartment in {{city}} on {{island}}</h2>
		{{else}}
			<h2>{{numBedRooms}} bedrooms apartment in {{city}} on {{island}}</h2>
		{{/if}}
		<p>{{numBathRooms}} bath rooms</p>

		<p>
			<img class='image img-responsive textWrapLeft' src='https://res.cloudinary.com/ginkgo/image/upload/w_200,c_fill/{{firstImage}}'>
			<div class='pre'>{{summary}}</div>
		</p>
		<p>
			<b>Price per month: {{pricePerMonth}} Euros</b>
		</p>

		{{>propertyBookings}}

		<a href='/showProperty/{{_id}}' class='btn btn-primary btn-large'>Read more</a>
	</div>
</template>